:host{
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  background:var(--dark-color);
}

.logo{
  width: 32px;
  height: 32px;
}


.main-menu-list{
  display:grid;
  grid-gap:8px;
  list-style: none;
}

.menu-item{
  padding: 16px 12px;
  cursor: pointer;
  border:none;
  background: none;
  color: var(--light-color);
  display:grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  svg{
    width: 16px;
    height: 16px;
  }

  &:hover,
  &:focus-visible,
  &.active{
    background: var(--dark-hover-color) ;
    color: var(--primary-color) ;
  }
}

.to-subscribers{
  display: flex;
  gap:10px;
  align-items: center;
  color: var(--primary-color);
}

.to-subscribers-link{
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon{
  width: 18px;
  height: 18px;
}

.sidebar__footer{
  margin-top: auto;
  background: var(--dark-hover-color) ;
  border-radius: 2px;
  padding: 4px 14px;
  display:grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap:12px;
  align-items: center;

  img{
    width: 32px;
    height: 32px;
    border-radius: 50%;

  }
  .username-text{
    color: var(--primary-color);
    font-weight: 700;
  }
}

.settings-btn{
  svg {
    width: 13px;
    height: 13px;
    color: var(--primary-color);
  }
}
